.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.navigation {
  width: 50%;
}
.header-logo a {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000;
}
.header-logo span {
  color: #2196f3;
}
.menu .menu__link {
  color: #000;
}
