@media (max-width: 1366px) {
}

@media (max-width: 1200px) {
  .header .container {
    padding: 24px 15px;
  }
  .effective-decision-title {
    font-size: 35px;
  }
  .our-service {
    padding-bottom: 15px;
  }
  .our-team {
    padding-bottom: 15px;
  }
  .our-clients {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .our-clients-block {
    gap: 15px;
  }
  .follow-email-title {
    margin-top: 20px;
  }

  .footer .container {
    padding-bottom: 25px;
  }
  .our-projects-blocks {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu {
    column-gap: 15px;
  }
  .header-info a:first-child {
    margin-right: 15px;
  }
  .header-info {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .effective-decision-title {
    font-size: 30px;
  }
  .effective-decision .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 400px;
  }
  .effective-decision-title {
    line-height: 35px;
  }
  .our-team-class {
    padding-top: 25px;
  }
  .hamburger {
    display: block;
  }
  .header-info {
    display: none;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 5px 0 15px -5px rgb(0 0 0 / 80%);
    max-width: 300px;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(-150vw);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding: 48px 80px 48px 40px;
  }
  .open {
    transform: translateX(0);
  }
  .navigation .menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .menu__item {
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .our-projects-blocks {
    grid-template-columns: 1fr; /*чтобы блок занимал 100% ширины*/
  }
  .our-service-block {
    flex-wrap: wrap;
  }
  .our-service-block-images {
    width: 100%;
    /*чтобы по одному блоку было*/
  }
  .our-service-block-images img {
    width: 100%;
  }
  .our-team {
    margin-top: 30px;
  }
  .footer-form {
    flex-wrap: wrap;
  }
  .footer-button-email {
    width: 100%;
  }
  .footer-email-input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .our-clients-link {
    width: 100%;
  }
  .effective-decision-title {
    font-size: 20px;
  }
  .our-service-title {
    font-size: 20px;
  }
  .our-team-class {
    font-size: 20px;
  }
  .our-clients-title {
    font-size: 20px;
  }
}
