.navigation .menu__link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}
.menu {
  display: flex;
  column-gap: 50px;
}
.navigation .menu__link.active {
  color: #2196f3;
}
.menu__link:hover {
  color: #2196f3;
}
.header-info a {
  color: grey;
  transition: color 0.3s ease-in-out;
}
.header-info a:hover {
  color: #2196f3;
}
.header-info a:first-child {
  margin-right: 50px;
}
