.our-projects-blocks{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);/*auto-fill автоматическое сжатие блоков относительно контейнера*/
    gap: 20px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-projects-blocks__block-image{
    background: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
}
.our-projects-blocks__block-image svg{
    display: block;
    margin: 0 auto;
}
.our-projects-blocks__block-title-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    color: #212121;
    text-transform: uppercase;
}
.our-projects-blocks__block-title-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}