*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
    padding: 0;
    list-style: none;
}
img{/*чтобы картинки были адаптивные*/
    max-width: 100%;
    height: auto;
    display: block;
}
main{
    overflow: hidden;
}
button{
    border:none !important;
    outline: none !important;
}
input,textarea{
    outline: none;
}