.single img{
    display: block;
    width: 100%;
    min-height: 493px;/*мин высота*/
}
.single-picture-block{
    padding: 15px;
    border: 1px solid #E4E6E8;
    margin-bottom: 60px;
}
.single-text{
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #333333;
}

.single-text{
    max-width: 740px;
    margin: 35px auto;
}